<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>GPNA Membership | Home</title>
  </head>
  <body>
    <h1>GPNA Membership Site</h1>
    <p>
      Blah blah blah blah.
    </p>
  </body>
</html>