<% provide(:title, 'Reports') %>
<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>
    <h1>GPNA Membership Site</h1>
    <p>
      This is where reports will go. Hope I get to it.
    </p>
  </body>
</html>